*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.App {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: $primary-color !important;
    color: #fff !important;
    width: 50%;
    text-align: center;
}

.btn-flat {
    margin-left: 0.7rem;
}