*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Montserrat',
        sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: $primary-color;
}

.btn {
    background-color: $primary-color !important;
    color: #fff !important;
    width: 50%;
    text-align: center;
}

.btn-flat {
    margin-left: 0.7rem;
}

.flatBtns {
    background-color: #fff;
    border-color: $primary-color;
    outline: 0;
    color: $primary-color;
    border: 1px solid transparentize($primary-color, 0.6);
    margin-top: 1rem;

    &:hover {
        background-color: #fff;
    }
}