*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Montserrat',
        sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #03a9f4;
    text-transform: lowercase;
}

h3 {
    color: $primary-color;
    margin-top: 0.5rem;
    padding: 1rem 0.4rem;
}

.btn {
    background-color: $primary-color !important;
    color: #fff !important;
    width: 50%;
    text-align: center;
}

.btn-flat {
    margin-left: 0.7rem;
}

.flatBtns {
    background-color: #fff;
    border-color: $primary-color;
    outline: 0;
    color: $primary-color;
    border: 1px solid transparentize($primary-color, 0.6);
    margin-top: 1rem;

    &:hover {
        background-color: #fff;
    }
}

.footer-container {
    text-align: center;
}

.footer {
    position: relative;
    margin: auto;
}

.footer-text {
    color: #03a9f4 !important;
    background-color: #f8f6f7 !important;
    font-size: 0.95rem;
    padding: 1.5rem 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}