.contacts-list {
    .contact-li {
        text-align: center;
    }

    form {
        padding: 1rem 1.2rem;
        margin-top: 0.5rem;
    }

    .btn-container {
        position: relative;
    }

    .btn-floating.addBtn {
        background-color: $primary-color;
        position: absolute;
        right: 10px;
        top: 95%;
        margin-top: 0.5rem;
    }

    .secondary-content.deleteBtn {
        color: #db0909bb;
    }
}