.nav-header {
    .logo-brand {
        text-decoration: none;
        height: 100px;
        width: 50px;
        position: absolute;
        top: 4px;
        right: 10px;
    }



    ul#slide-out {
        a.user-info {
            padding: 0.3rem 0.5rem 4rem 2rem;
        }

        .sidenav li>a {
            text-transform: uppercase !important;
            font-size: 1rem;
            line-height: 52px !important;
            font-family: 'Montserrat', sans-serif;
        }

        .i.material-icons.auth-icons,
        .sidenav li>a>i {
            float: none !important;
        }
    }

    nav {
        background-color: $primary-color;
        position: absolute;
        top: 15px;
        left: 15px;
        height: 60px;
    }

    .auth-icons {
        margin: 0 20px 0 0
    }

}

@media only screen and (min-width: 981px) {
    .container-margin {
        margin-left: 280px;
    }
}